/*-------------------------------------------------------------------*/
 /* styling for pacing info class                                   */
 /*------------------------------------------------------------------*/

#containerHome {
  display: none;
  vertical-align: text-top;  
  font-size: 0.9em;
  background-color: white;
  margin-right: 0.6em;
  margin-top: -0.25em;
  border-radius: 8px 8px 0px 0px;
  min-width: 600px;
  min-height: 450px;
}

#containerAnnouncements {
  display: inline-block;
  vertical-align: text-top;  
  margin-right: 0.6em;
  margin-top: -0.25em;
}

#iframeAnnouncements {
  border:none;
  margin-top: -0.35em;
}

#containerCalendar {
  display: inline-block;
}

#containerGuide {
  display: inline-block;
}

/*-- home page --*/
#homepageTitle {
  font-size: 1.0em;
  font-weight: bold;
  margin-bottom: 0.4em;
  border-radius: 8px 8px 0px 0px;
  color: white;
  background-color: #093c44;
  padding: 0.3em;  
}

#homepageContents {
  margin-left: 0.2em;
}

#helpImage1 {
  width: 180px;
  margin-left: 40px;
  border: 1px solid #AAAAAA;  
}

#helpImage2 {
  width: 360px;
  margin-left: 40px;
  border: 1px solid #AAAAAA;  
}
/*-- end of home page --*/

/*-- announcements --*/
#announcementsTitle {
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 0.4em;
  border-radius: 8px 8px 0px 0px;
  color: white;
  background-color: #093c44;
  padding: 0.3em;
}

/*-- end of announcements --*/

/*-- pacing guide --*/
.guide-container {
  font-size: 0.9em;
  display: inline-block;
  background-color: white;
  border-radius: 8px 8px 0px 0px;
}

.guide-label {
  font-size: 1.0em;
  font-weight: bold;
  margin-bottom: 0.4em;
  border-radius: 8px 8px 0px 0px;
  color: white;
  background-color: #093c44;
  padding: 0.3em;
}

#pacingGuide {
  font-size: 0.9em;
  margin-bottom: 0px;
}

.guide-week div {
  max-width: 20em;
}

.guide-week-long div {
  max-width: 36em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.guide-progresscheck {
  font-style: italic;
  font-weight: bold;
  color: blue;
}

.guide-notgraded {
  font-style: italic;
}
/*-- end of pacing guide --*/

/*-- pacing calender --*/
.calendar-container {
  font-size: 0.9em;
  display: inline-block;
  background-color: white;
  border-radius: 8px 8px 0px 0px;
}

.calendar-label {
  font-size: 1.0em;
  font-weight: bold;
  margin-bottom: 0.4em;
  border-radius: 8px 8px 0px 0px;
  color: white;
  background-color: #093c44;
  padding: 0.3em;
}

#pacingCalendar {
  font-size: 0.9em;
  margin-bottom: 0px;
  text-align: center;
}

#pacingCalendar tr {
 /* height: 1em;*/
}

#pacingCalendar th {
  text-align: center;
}

.highlightweek {
  background-color: lightblue;
  font-weight: bold;
}

.highlightweek:hover {
  background-color: lightblue !important; 
}
/*-- end of pacing calendar --*/