/*--------------------------------------------------*
 * pacing calendar                                  *
 *--------------------------------------------------*/
.calendar-container {
  display: inline-block;
}

.calendar-label {
  font-size: 1.0em;
  font-weight: bold;
  margin-bottom: 0.4em;
  border-radius: 8px 8px 0px 0px;
  color: white;
  background-color: #2f8d98;
  padding: 0.3em;
  text-align: center;
}

#pacingCalendar {
  font-size: 0.9em;
  margin-bottom: 0px;
  text-align: center;
}

#pacingCalendar th {
  text-align: center;
}

.highlightweek {
  background-color: lightblue;
  font-weight: bold;
}

.highlightweek:hover {
  background-color: lightblue !important; 
}