/*-------------------------------------------------------------------*/
 /* styling for pacing info test page                                */
 /*------------------------------------------------------------------*/

/*----------------------------------*/
/* Michigan Virtual brand standards */
/* light teal:  #2f8d98             */
/* dark teal:   #115e6e             */
/* deep teal:   #093c44             */
/* green:       #b5cd34             */
/* orange:      #b5cd34             */
/* light gray:  #6d6e71             */
/* dark gray:   #414042             */
/*----------------------------------*/
body {
	color: black;
	background-color: transparent;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
}

.standard-title {
	color: white;
	background-color: #093c44;
  border: 1px solid white;
  border-radius: 6px;
  font-size: 1.2em;
  padding-left: 0.4em;
  margin-top: 0em;
  margin-bottom: 0.4em;
}

#controlContainer {
  margin-left: 0.2em;
  margin-bottom: 1.0em;
}

.info-control {
  margin-bottom: 0.6em;
  margin-right: 0.6em;
  font-weight: normal;
}

#buttonRender:disabled {
  color: gray;
}

#contentContainer {
  display: inline-block;
  margin-left: 0.2em;
}


